In [1]:
# import necessary packages

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from datetime import datetime as dt
import numpy as np
import pandas_profiling
import math
import datetime as dt

In [72]:
# import data from csv

hurdat = pd.read_csv(r"C:/Users/jacks/Documents/Springboard/hurricanes_capstone/HURDAT2 Data.csv")

In [ ]:
#hurdat.head()

In [ ]:
#hurdat.shape

In [ ]:
#hurdat.info()

In [73]:
# fix date column

hurdat['Date'] = pd.to_datetime(hurdat['Date'],errors='coerce',yearfirst=False)

In [71]:
#name_col = [name.title() for name in list(hurdat['Name'].str.lstrip())]

In [74]:
# fix the name column
# remove whitespace and capitalize the first letter of each name

name_col = [name.title() for name in list(hurdat['Name'].str.lstrip())]

# create a list of names called 'new_names'
# make each 'FALSE' the preceeding name until the next name

new_names = []
name = ''

for x in name_col:
    if x != 'False':
        new_names.append(x)
        name = x
    else:
        new_names.append(name)
        
# add Storm Names column

hurdat['Storm_Name'] = new_names

# remove the Name column

hurdat.drop('Name',axis=1,inplace=True)

In [75]:
# remove rows with excessive NaN values
# without doing this I am unable to change the Year datatype

hurdat.dropna(axis=0,thresh=10,inplace=True)

In [76]:
# extract year from date column and create Year column as int datatype

hurdat['Year'] = pd.array([i.year for i in hurdat.Date], dtype='int')

In [77]:
# rearrange the columns

hurdat = hurdat.reindex(columns = ['Year','Storm_Name','Time','Date','Status','Lat','Long','Maximum sustained wind','Minimum Pressure','34 kt radii NE','34 kt radii SE','34 kt radii SW','34 kt radii NW','50 kt radii NE','50 kt radii SE','50 kt radii SW','50 kt radii NW','64 kt radii NE','64 kt radii SE','64 kt radii SW','64 kt radii NW','87 kt radii NE (est)','87 kt radii SE (est)','87 kt radii SW (est)','87 kt radii NW (est)'])

In [78]:
# make multi-index with Year and Storm_Name

hurdat = hurdat.set_index(['Year'])

# sort index by Year

# hurdat = hurdat.sort_index()

In [79]:
# change column names to names easier to work with

hurdat.columns = ['Storm_Name','Time','Date', 'Status', 'Lat', 'Long', 'Max_Wind',
       'Min_Pressure', 'ne_34_kt', 'se_34_kt',
       'sw_34_kt', 'nw_34_kt', 'ne_50_kt', 'se_50_kt',
       'sw_50_kt', 'nw_50_kt', 'ne_64_kt', 'se_64_kt',
       'sw_64_kt', 'nw_64_kt', 'ne_87_kt', 'se_87_kt',
       'sw_87_kt', 'nw_87_kt']

In [80]:
# count the number of observations where the name Bonnie appears
'''I know there are three storms named Bonnie and want to be sure I haven't excluded any'''


# not sure if this helps... may need to use Storm_Name as multiindex

#hurdat[hurdat['Storm_Name']=='Bonnie'].count()

"I know there are three storms named Bonnie and want to be sure I haven't excluded any"

In [29]:
# hurdat.head(-5)

In [ ]:
#cols = list(hurdat)
#print(list(enumerate(cols)))

In [ ]:
#hurdat.describe()

In [81]:
# remove negative values from the radii

hurdat['ne_34_kt'].clip(lower=0, inplace=True)
hurdat['se_34_kt'].clip(lower=0, inplace=True)
hurdat['sw_34_kt'].clip(lower=0, inplace=True)
hurdat['nw_34_kt'].clip(lower=0, inplace=True)
hurdat['ne_50_kt'].clip(lower=0, inplace=True)
hurdat['se_50_kt'].clip(lower=0, inplace=True)
hurdat['sw_50_kt'].clip(lower=0, inplace=True)
hurdat['nw_50_kt'].clip(lower=0, inplace=True)
hurdat['ne_64_kt'].clip(lower=0, inplace=True)
hurdat['se_64_kt'].clip(lower=0, inplace=True)
hurdat['sw_64_kt'].clip(lower=0, inplace=True)
hurdat['nw_64_kt'].clip(lower=0, inplace=True)
hurdat['ne_87_kt'].clip(lower=0, inplace=True)
hurdat['se_87_kt'].clip(lower=0, inplace=True)
hurdat['sw_87_kt'].clip(lower=0, inplace=True)
hurdat['nw_87_kt'].clip(lower=0, inplace=True)

In [82]:
# caluculate effective radius for each wind threshold
# eff_rad_* function calculates the Effective Radius for the 4 wind thresholds
# the value output is in nautical miles

def eff_rad_34(x):
    if x['Max_Wind']>=34:
        num = (0.5*(math.sqrt((x['ne_34_kt']**2) + (x['se_34_kt']**2) + (x['sw_34_kt']**2) + (x['nw_34_kt']**2))))
        return round(num,2)

def eff_rad_50(x):
    if x['Max_Wind']>=50:
        num = (0.5*(math.sqrt((x['ne_50_kt']**2) + (x['se_50_kt']**2) + (x['sw_50_kt']**2) + (x['nw_50_kt']**2))))
        return round(num,2)

def eff_rad_64(x):
    if x['Max_Wind']>=64:
        num = (0.5*(math.sqrt((x['ne_64_kt']**2) + (x['se_64_kt']**2) + (x['sw_64_kt']**2) + (x['nw_64_kt']**2))))
        return round(num,2)
    
def eff_rad_87(x):
    if x['Max_Wind']>=87:
        num = (0.5*(math.sqrt((x['ne_87_kt']**2) + (x['se_87_kt']**2) + (x['sw_87_kt']**2) + (x['nw_87_kt']**2))))
        return round(num,2)

In [31]:
# would like to combine the functions above into one
# not sure how to apply this to create separate columns

def effective_radius(i):
    if i['Max_Wind']>=34:
        if x['Max_Wind']>=50:
            if x['Max_Wind']>=64:
                if x['Max_Wind']>=87:
                    num = (0.5*(math.sqrt((x['ne_87_kt']**2) + (x['se_87_kt']**2) + (x['sw_87_kt']**2) + (x['nw_87_kt']**2))))
                    return round(num,2)
                else:
                    num = (0.5*(math.sqrt((x['ne_64_kt']**2) + (x['se_64_kt']**2) + (x['sw_64_kt']**2) + (x['nw_64_kt']**2))))
                    return round(num,2)
            else:
                num = (0.5*(math.sqrt((x['ne_50_kt']**2) + (x['se_50_kt']**2) + (x['sw_50_kt']**2) + (x['nw_50_kt']**2))))
                return round(num,2)
        else:
            num = (0.5*(math.sqrt((x['ne_34_kt']**2) + (x['se_34_kt']**2) + (x['sw_34_kt']**2) + (x['nw_34_kt']**2))))
            return round(num,2)

In [83]:
# use .apply function to create new columns

hurdat['eff_rad_34']=hurdat.apply(eff_rad_34, axis=1)
hurdat['eff_rad_50']=hurdat.apply(eff_rad_50, axis=1)
hurdat['eff_rad_64']=hurdat.apply(eff_rad_64, axis=1)
hurdat['eff_rad_87']=hurdat.apply(eff_rad_87, axis=1)

In [84]:
# change NaN values in eff_rad_* columns to 0.0

hurdat['eff_rad_34']=hurdat['eff_rad_34'].fillna(0.0)
hurdat['eff_rad_50']=hurdat['eff_rad_50'].fillna(0.0)
hurdat['eff_rad_64']=hurdat['eff_rad_64'].fillna(0.0)
hurdat['eff_rad_87']=hurdat['eff_rad_87'].fillna(0.0)

In [85]:
# count the number of Time observations that are not 0, 600, 1200, 1800

# define list of times

times = ['0','600','1200','1800']

# create a list of observations not in 'times' 

off_times = [x for x in hurdat['Time'] if x not in times]   

# find the percentage of observations with off_times

(len(off_times)/len(hurdat['Time']))*100

2.9043142926006267

In [86]:
# observe data for rows that are in 'off_times'

off_times_df = hurdat[hurdat['Time'].isin(off_times)]


# find the percentage of observations for err_rad_* in off_times_df are 0 or 999

print(str(off_times_df[off_times_df['eff_rad_34'].isin([0.00, 999.0])].eff_rad_34.count())+' / '+str(len(off_times)))

((off_times_df[off_times_df['eff_rad_34'].isin([0.00, 999.0])].eff_rad_34.count())/len(off_times))*100

93 / 241

38.589211618257266

In [87]:
# a large percentage of rows that are not at 0, 600, 1200, or 1800 have erroneous data
# remove those rows whose time is not == 0, 600, 1200, 0r 1800

hurdat = hurdat[hurdat['Time'].isin(['0','600','1200','1800'])]

In [ ]:
#hurdat.describe()

In [88]:
#hurdat.head()

In [94]:
# strip whitespace in front of statuses

hurdat.Status = hurdat.Status.str.strip()

# remove storms that aren't a tropical depression, tropical storm, or hurricane

drop_status=['EX','WV','LO','SS','SD','DB']
hurdat = hurdat[~hurdat['Status'].isin(drop_status)]
print(hurdat.Status.unique())

['TD' 'TS' 'HU']

In [95]:
#hurdat.info()

In [91]:
# remove the N and W from the lat and long

hurdat['Lat'] = hurdat['Lat'].str.strip(to_strip='N')
hurdat['Long'] = hurdat['Long'].str.strip(to_strip='W')

In [96]:
# change the lat and long to numeric data

hurdat['Lat'] = hurdat['Lat'].astype('float64')
hurdat['Long'] = hurdat['Long'].astype('float64')

In [97]:
hurdat.describe()

,Lat,Long,Max_Wind,Min_Pressure,ne_34_kt,se_34_kt,sw_34_kt,nw_34_kt,ne_50_kt,se_50_kt,...,sw_64_kt,nw_64_kt,ne_87_kt,se_87_kt,sw_87_kt,nw_87_kt,eff_rad_34,eff_rad_50,eff_rad_64,eff_rad_87
count,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,...,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000,5538.000000
mean,24.253810,62.237830,55.678043,990.046407,88.539184,78.267425,46.423799,63.369447,29.563922,26.593536,...,7.223727,8.701697,3.236462,2.721377,2.076265,2.746739,75.297347,26.045479,9.945107,2.764592
std,8.265535,19.813557,26.473478,20.504170,72.850303,69.462254,57.258572,63.836223,38.338770,37.277089,...,15.787897,18.257906,9.388824,8.108398,6.158071,8.015864,61.119528,33.483274,18.254421,7.988081
min,7.700000,6.000000,15.000000,882.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.125000,46.300000,35.000000,982.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.820000,0.000000,0.000000,0.000000
50%,23.900000,63.100000,50.000000,997.000000,80.000000,70.000000,30.000000,50.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,66.330000,10.610000,0.000000,0.000000
75%,30.700000,78.300000,70.000000,1005.000000,130.000000,120.000000,75.000000,100.000000,50.000000,50.000000,...,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,111.360000,45.280000,15.000000,0.000000
max,48.800000,105.000000,160.000000,1017.000000,480.000000,420.000000,450.000000,420.000000,220.000000,240.000000,...,150.000000,180.000000,60.498700,53.488700,43.053700,53.488700,415.090000,196.530000,117.150000,48.870000

In [98]:
hurdat.head()

,Storm_Name,Time,Date,Status,Lat,Long,Max_Wind,Min_Pressure,ne_34_kt,se_34_kt,...,sw_64_kt,nw_64_kt,ne_87_kt,se_87_kt,sw_87_kt,nw_87_kt,eff_rad_34,eff_rad_50,eff_rad_64,eff_rad_87
Year,,,,,,,,,,,,,,,,,,,,,
2004,Alex,1800,2004-07-31,TD,30.3,78.3,25.0,1010.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
2004,Alex,0,2004-08-01,TD,31.0,78.8,25.0,1009.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
2004,Alex,600,2004-08-01,TD,31.5,79.0,25.0,1009.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
2004,Alex,1200,2004-08-01,TD,31.6,79.1,30.0,1009.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
2004,Alex,1800,2004-08-01,TS,31.6,79.2,35.0,1009.0,0.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,35.36,0.0,0.0,0.0

In [ ]:
# find the earliest and latest storm each year

In [ ]:
hurdat['Date']

# Use the qualitative data

### How many total storms?
### How many storms of each category (TD, TS, H)?
### Make a histogram
### Break down of storms by year
### Break down of storms by month
### Make another histogram
### What were the earliest and latest storms?
### What is the average date of the earliest and latest storms?

In [ ]:
# find the number of years

len(hurdat.groupby(level=0))

In [ ]:
# find number of storms

hurdat.index.to_series().nunique()

In [ ]:
# find the number of storms per year
'''
Is this the number of storms, or the number of unique names? Remember Bonnie appears in 2004, 2010, and 2016. 
Therefore Bonnie might count as one unique name while it should count for three storms.
'''

for year in range(2004,2020):
    print('For the year '+str(year)+' there were '+str(len(hurdat.loc[year].groupby(level=0)))+' total storms')

In [ ]:
# def function to find total storms per year

def storms_per_year(df):
    if year in range(2004,2020):
        return year,len(df.loc[year].groupby(level=0))

In [ ]:
hurdat.head()

In [ ]:
# find the earliest and latest date of each storm

date_formed = []
date_ended = []
num = 0
for i in names:
    if i == names[num]:
        date_formed.append(min(hurdat[hurdat.index == names[num]].Date))
        date_ended.append(max(hurdat[hurdat.index == names[num]].Date))
        num+=1

In [ ]:
# find the maximum wind of each storm

max_wind = []
num = 0
for i in names:
    if i == names[num]:
        max_wind.append(max(hurdat[hurdat.index == names[num]].Max_Wind))
        num+=1

In [ ]:
# find maximum status of each storm

status = []
num = 0
for i in names:
    if i == names[num]:
        if max(hurdat[hurdat.index == names[num]].Max_Wind)<34:
            status.append('TD')
        elif max(hurdat[hurdat.index == names[num]].Max_Wind)>=34 and max(hurdat[hurdat.index == names[num]].Max_Wind)<=63:
            status.append('TS')
        elif max(hurdat[hurdat.index == names[num]].Max_Wind)>63:
            status.append('HU')
        num+=1

In [ ]:
# create a dataframe with the lists created above

hurricanes = pd.DataFrame(list(zip(status, max_wind, date_formed, date_ended)), index=names, columns=['status', 'max_wind', 'date_formed', 'end_date'])

In [ ]:
hurricanes

In [ ]:
# export hurricanes

hurricanes.to_csv('hurricanes_min_data', index=True)

In [ ]:
# count the number of storms in each category

In [ ]:
# find the percentage of each storm category overall and per year

In [ ]:
# find the average max wind for hurricanes for each year

In [ ]:
# pd.set_option('display.max_rows',None)

In [ ]:
# pandas_profiling.ProfileReport(hurdat)