In [11]:
import xarray
import numpy as np
import pandas as pd
import pandas_profiling
from pandas_profiling import ProfileReport

In [ ]:
# template for running ProfileReport

#prof = ProfileReport(dataframe)
#prof.to_file(output_file='output.html')

In [12]:
# convert all netCDF4 data to dataframe
# daily sea surface temperature from 2004 to 2020 for the northen Atlantic Ocean and Gulf of Mexico

sst = xarray.open_mfdataset('*.nc4').to_dataframe()

In [ ]:
sst.info()

In [ ]:
sst.head()

In [13]:
# define function to complete the three actions above

idx = pd.IndexSlice
long_range = list(range(254,355))

def clean_sst(data):
    data = data.droplevel(1)
    data = data.loc[7.0:49.0]
    data = data.loc[:,(long_range),:]
    data = data.reset_index()
    return data

In [14]:
sst = clean_sst(sst)
sst.head()

   lat    lon       time        sst
0  8.0  254.0 2004-01-01  27.573589
1  8.0  254.0 2004-02-01  27.663248
2  8.0  254.0 2004-03-01  28.363892
3  8.0  254.0 2004-04-01  28.908352
4  8.0  254.0 2004-05-01  28.942772

In [5]:
sst['lat'].unique()

array([ 8., 10., 12., 14., 16., 18., 20., 22., 24., 26., 28., 30., 32.,
       34., 36., 38., 40., 42., 44., 46., 48.])

In [6]:
sst['lon'].unique()

array([254., 256., 258., 260., 262., 264., 266., 268., 270., 272., 274.,
       276., 278., 280., 282., 284., 286., 288., 290., 292., 294., 296.,
       298., 300., 302., 304., 306., 308., 310., 312., 314., 316., 318.,
       320., 322., 324., 326., 328., 330., 332., 334., 336., 338., 340.,
       342., 344., 346., 348., 350., 352., 354.])

In [ ]:
sst.info()